*.log
*.njsproj
*.ntvs*
*.profraw
*.sln
*.suo
*.sw?
.DS_Store
.devenv.flake.nix
.devenv/
.direnv/
.env
.idea
.pre-commit-config.yaml
.vscode
/target
dev-debug.log
logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
