layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=1 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="scratch" {
    pane {
      cwd "/data/Code/lattice"
    }
  }

  tab name="devenv" {
    pane {
      cwd "/data/Code/lattice"
      command "devenv"
      args "up"
    }
  }

  tab name="shell" {
    pane {
      cwd "/data/Code/lattice"
    }
  }
}

keybinds {
  normal {
    unbind "Ctrl q"
  }
}
